# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\H5\Criterionist-Patchi-Shop-frontend-master\Patchi-Shop-frontend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
